@@{
    ViewBag.Title = "Sistema de Correspondencia";
}

<h2>Index</h2>
<div class="row">
    <div class="well col-xs-2">1</div>
    <div class="well col-xs-2">2</div>
    <div class="well col-xs-2">3</div>
    <div class="well col-xs-2">4</div>
    <div class="well col-xs-2">5</div>
    <div class="well col-xs-2">6</div>
</div>