
@{
    ViewBag.Title = "Historial Por Archivo";
}

<div class="row">
    <div class="col-md-4 form-group">
        <label for="txt-codDocumento">Codigo</label>
        <input type="text" id="txt-codDocumento" class="form-control" placeholder="Codigo del Documento">           
    </div>                                                                       
    <div class="col-md-4 form-group">                                            
        <label for="txt-fechaCreacion">Fecha Creacion</label>                    
        <input type="text" id="txt-fechaCreacion" class="form-control" placeholder="Fecha de Creacion">          
    </div>                                                                       
    <div class="col-md-4 form-group">                                            
        <label for="txt-fechaRegistrado">Fecha Registrado</label>                
        <input type="text" id="txt-fechaRegistrado" class="form-control" placeholder="Fecha de Registro del Documento">        
    </div>                                                                       
</div>                                                                                                                                                      
<div class="row">                                                                
    <div class="col-md-4 form-group">                                            
        <label for="txt-remitenteCreador">Remitente Creador</label>              
        <input type="text" id="txt-remitenteCreador" class="form-control" placeholder="Creador del Documento">
    </div>
    <div class="col-md-4 form-group">
        <label for="txt-estadoActual">Estador Actual</label>
        <input type="text" id="txt-estadoActual" class="form-control" placeholder="Estado Actual del Documento">
    </div>
</div>
<div class="row">                                                                
    <div class="col-md-12 form-group">                                           
        <label for="txt-asunto">Asunto</label>                                   
        <input type="text" id="txt-asunto" class="form-control" placeholder="Asunto">                 
    </div>                                                                       
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Movimientos</div>
            <div class="panel-body">
                <table id="table-documents" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Remitente</th>
                        <th>Destinatario</th>
                        <th>Movimiento</th>
                        <th>Fecha del Movimiento</th>
                        <th>Mensajero</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer"><button class="btn btn-info " id="btn-refrescar">Refrescar</button>
            </div>
        </div>
    </div>
</div>

