
@{
    ViewBag.Title = "Registrar Nuevo Documento";
}

<div class="row">
    <div class="col-md-4 form-group">
        <div>
            <label for="txt-noOficio">No. de Oficio</label>
            <input id="txt-noOficio" type="text" class="form-control" placeholder="Numero de Oficio">
        </div>
    </div>
    <div class="col-md-4 form-group">
        <div>
            <label for="txt-fechaDocumento">Fecha del Documento</label>
            <input type="text" id="txt-fechaDocumento" class="form-control datepicker" placeholder="Fecha del Documento">
        </div>
    </div>
    <div class="col-md-4 form-group">
        <label for="select-regional">Regional</label>
        <select id="select-regional" class="form-control">
            
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label for="txt-asunto">Asunto</label>
        <input type="text" class="form-control" id="txt-asunto" placeholder="Asunto del Documento">
    </div>
</div>
<div class="row">
    <div class="col-md-4 form-group">
        <label for="txt-fechaRecibido">Fecha Recibido</label>
        <input type="text" id="txt-fechaRecibido" class="form-control datepicker" placeholder="Fecha Recibido el Documento">
    </div>
    <div class="col-md-6 col-md-offset-2 form-group">
        <label for="select-destinatarios">Destinatarios</label>
        <select id="select-destinatarios" class="form-control">
            
        </select>
        <select id="select-destinatarios-multiple" class="form-control" multiple>
            
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Registrar</button>
    </div>
</div>