@{
    ViewBag.Title = "Documentos Registrados";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Documentos</div>
            <div class="panel-body">
                <table id="table-documents" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>No. de Oficio</th>
                        <th>Asunto</th>
                        <th>Regional</th>
                        <th>Fecha del Documento</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn btn-info " id="btn-refrescar">Refrescar</button>
            </div>
        </div>
    </div>
</div>
