
@{
    ViewBag.Title = "Registrar Salida";
}

<div class="row">
    <div class="col-md-3 form-group">
        <label for="txt-documento">Documento</label>
        <input type="text" id="txt-documento" class="form-control">
    </div>
    <div class="col-md-3 form-group">
        <label for="txt-destinatarios">Destinatarios</label>
        <input type="text" id="txt-destinatarios" class="form-control">
    </div>
</div>
