
@{
    ViewBag.Title = "Registrar Entrada";
}

<div class="row">
    <div class="col-md-3 form-group">
        <label for="txt-codDocumento">Codigo del Documento</label>
        <input type="text" id="txt-codDocumento" placeholder="Codigo del Documento" class="form-control">
    </div>
    <div class="col-md-3 form-group">
        <label for="txt-fechaEntrada">Fecha de Entrada</label>
        <input type="text" id="txt-fechaEntrada" placeholder="Fecha de Entrada" class="form-control">
    </div>
    <div class="col-md-3 form-group">
        <label for="select-remitente">Remitente</label>
        <select name="" id="select-remitente" class="form-control">
            <option value="1">Tecnologia</option>
            <option value="2">Opreaciones</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <label for="txt-asunto">Asunto</label>
        <input type="text" id="txt-asunto" placeholder="Asunto del Documento" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-10">
        <button type="submit" class="btn btn-primary btn-block btn-lg">
            Registrar
        </button>
    </div>
</div>

