
@{
    ViewBag.Title = "Historial de Movimientos";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Historial</div>
            <div class="panel-body">
                <table id="table-documents" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Asunto</th>
                        <th>Fecha Registrado</th>
                        <th>Tipo de Movimiento</th>
                        <th>Fecha del Movimiento</th>
                        <th>Destinatario/Remitente</th>
                        <th>Mensajero</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-footer"><button class="btn btn-info " id="btn-refrescar">Refrescar</button>
            </div>
        </div>
    </div>
</div>

